apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "7"
    meta.helm.sh/release-name: gitlab
    meta.helm.sh/release-namespace: gitlab
    reloader.stakater.com/auto: "true"
  labels:
    app: webservice
    app.kubernetes.io/managed-by: Helm
    chart: webservice-8.7.3
    gitlab.com/webservice-name: default
    heritage: Helm
    release: gitlab
  name: gitlab-webservice-default
  namespace: gitlab
spec:
  selector:
    matchLabels:
      app: webservice
      gitlab.com/webservice-name: default
      release: gitlab
  replicas: 1
  minReadySeconds: 1                #  Минимальное время готовности pod
  strategy:
    type: RollingUpdate | Recreate  # Стратегия обновления (обязательное поле)
    rollingUpdate:                  # Настройки RollingUpdate (если type: RollingUpdate)
      maxUnavailable: число | %     # Максимальное количество недоступных подов
      maxSurge: число | %           # Максимальное количество дополнительных подов. Сначала создаст больше максимума, потом удалит старые.
  revisionHistoryLimit: 10          # Минимальное количество ReplicaSets, которое сохранится для отката (сохраняет контейнеры)
  progressDeadlineSeconds: 600      # Время до неудачи, после чего повторное развертывание.
  paused: true                      # Управление rollouts-обновлениями (kubectl rollout pause|resume)
  


  template:
    metadata:                       # Применяется к pods
      annotations: []
      labels:                       # Должны содержать spec.selector.matchLabels
        app: webservice
        gitlab.com/webservice-name: default
        release: gitlab
    spec:
      containers: []
      initContainers: []
      # kubectl debug -it nginx --image=busybox --target=nginx -- sh
      # Создаёт временный отладочный контейнер внутри pod
      # --target=nginx - добавляет отладочный контейнер в окружение linux-ns заданного контейнера
      ephemeralContainers: []
      
      enableServiceLinks: true      # Информация о сервисах в env

      volumes: []
      nodeSelector: # https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/
        kubernetes.io/hostname: "control01"
      nodeName: "control01"
      affinity: []
      tolerations: []
      schedulerName: "default-scheduler"  # Написать свой планировщик как модуль для Kuber
      runtimeClassName: ""                # Возможность запуска с разными Рантаймами (надо разбираться)
      priorityClassName:
      securityContext: #  PodSecurityContext - общая безопасность
        runAsUser: 1000
        runAsGroup: 3000
        runAsNonRoot: true
        fsGroup: 2000 # права на смонтированные папки
        fsGroupChangePolicy: "OnRootMismatch"/ "Always" # изменять права на подкаталоги
        supplementalGroups: [ 4000 ] # дополнительные группы
        seccompProfile: # Профили seccomp — это JSON-файлы, которые определяют, какие системные вызовы разрешены для выполнения, а какие — нет.
          type: RuntimeDefault (RuntimeDefault, Unconfined, Localhost)
        #              type: Localhost
        #              localhostProfile: my-profiles/profile-allow.json
        appArmorProfile: # Профиль безопасности AppArmor – это список возможностей приложения по отношению к системе (доступ и степень доступа к файлам, службам, системным вызовам и т.д.).
          type: RuntimeDefault (RuntimeDefault, Unconfined, Localhost)
        #              type: Localhost
        #              localhostProfile: k8s-apparmor-example-deny-write
        seLinuxOptions:
          level: "s0:c123,c456"
        sysctls: # изменение функций ядра Linux
          - name: kernel.shm_rmid_forced
            value: "0"
          - name: net.core.somaxconn
            value: "1024"
          - name: kernel.msgmax
            value: "65536"


      serviceAccountName: cluster-sa
      automountServiceAccountToken: false
      containers:
        - env:
            - name: TZ
              value: UTC
          securityContext: # SecurityContext - переопределяет общие значения (доступные поля не одинаковы!)
            runAsUser: 1000
            runAsGroup: 3000
            runAsNonRoot: true
            allowPrivilegeEscalation: false # возможность получения более высоких привилегий в сравнении с родительским процессом.
            privileged: false # доступ к корневой файловой системе
            procMount: Unmasked # раскрывает замаскированные общие папки 0_0
            capabilities: # добавление / удаление возможностей для пользователя без рут прав (https://github.com/torvalds/linux/blob/master/include/uapi/linux/capability.h)
              drop:
                - ALL
              add: [ "NET_ADMIN", "SYS_TIME" ]
            seccompProfile: # Профили seccomp — это JSON-файлы, которые определяют, какие системные вызовы разрешены для выполнения, а какие — нет.
              type: RuntimeDefault (RuntimeDefault, Unconfined, Localhost)
#              type: Localhost
#              localhostProfile: my-profiles/profile-allow.json
            appArmorProfile: # Профиль безопасности AppArmor – это список возможностей приложения по отношению к системе (доступ и степень доступа к файлам, службам, системным вызовам и т.д.).
              type: RuntimeDefault (RuntimeDefault, Unconfined, Localhost)
#              type: Localhost
#              localhostProfile: k8s-apparmor-example-deny-write
            seLinuxOptions:
              level: "s0:c123,c456"
          image: registry.gitlab.com/gitlab-org/build/cng/gitlab-webservice-ee:v17.7.1
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - pkill -SIGINT -o ruby
          livenessProbe:
            failureThreshold: 10
            httpGet:
              path: /-/liveness
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 200
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 30
          name: webservice
          ports:
            - containerPort: 8080
              name: http-webservice
              protocol: TCP
            - containerPort: 8081
              name: https-ws
              protocol: TCP
            - containerPort: 8083
              name: http-metrics-ws
              protocol: TCP
          readinessProbe:
            failureThreshold: 10
            httpGet:
              path: /-/readiness
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 200
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            requests:
              cpu: 800m
              memory: 4G
            runAsNonRoot: true
            runAsUser: 1000
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          args:
            - -c
            - sh -x /config-webservice/configure ; sh -x /config-workhorse/configure ;
              mkdir -p -m 3770 /tmp/gitlab
          command:
            - sh
          volumeMounts:
            # файл
            - mountPath: /tmp/file1
              name: files
              subPath: file1
              readOnly: true
            # директория (общая)
            - mountPath: /tmp/templates
              name: shared-dir
              readOnly: false
      dnsPolicy: ClusterFirst
      initContainers:
        - env:
            - name: TZ
              value: UTC
          image: registry.gitlab.com/gitlab-org/build/cng/certificates:v17.7.1
          imagePullPolicy: IfNotPresent
          name: certificates
          resources:
            requests:
              cpu: 200m
              memory: 100M
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 1000
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            # файл
            - mountPath: /tmp/file2
              name: files
              subPath: file2
              readOnly: true
            # директория (общая)
            - mountPath: /tmp/templates
              name: shared-dir
              readOnly: false
      restartPolicy: Always

      terminationGracePeriodSeconds: 30
